body {
  background-color: #50394c;
  font-family: 'Roboto', sans-serif;
  color: #f4e1d2;
  margin: 40px 60px;
}
h1, h2, h3 {
  color: #ffef96;
}
code {
  width: 50em;
}
pre.jqconsole {
  white-space: pre-wrap;
}

.chapter-title {
  margin-top: 50px;
}

.chapter-title h1 {
  color: #43c58b;
  margin-left: -20px;
}
